<button routerLink="/add-product">Lisa Toode 1</button>
<button routerLink="/lisa-toode">Lisa Toode 2</button>
<button routerLink="/maintain-products">Halda tooteid</button>

<br><br><br>

<button routerLink="/supplier-store">Vota hankija riided</button>
<button routerLink="/supplier-books">Vota hankija raamatud</button>
<button routerLink="/supplier-escuela">Vota hankija tooted</button>
<button routerLink="/rest-countries">vota riigid</button>

<button routerLink="/floods">Floods</button>
<button routerLink="/electricity">Electricity</button>


