<div>{{kuupaev | date:'dd.MMM.YYYY'}}</div>

<div>{{tooted.length}} tk</div>

<button (click)="SorteeriAZ()">{{"sort-az" | translate}}</button>
<button (click)="SorteeriZA()">{{"sort-za" | translate}}</button>
<button (click)="SorteeriTahedKasv()">{{"SortLettersAscend" | translate}}</button>
<button (click)="SorteeriTahedKah()">{{"SortLettersDescend" | translate}}</button>
<button (click)="SorteeriKolmasTahtAZ()">{{"SortThirdLetterAZ" | translate}}</button>

<br><br>

<button (click)="filtreeriKesLoppevadTahegaA()">{{"filterEndingWithA" | translate}}</button>
<button (click)="filtreeriTapselt5Tahelised()">{{"filterExactlyFiveLetters" | translate}}</button>
<button (click)="filtreeriKuniVoiTapselt6Tahelised()">{{"filterUntilOrExactlySixLetters" | translate}}</button>
<button (click)="filtreeriKesKellelLuhendBE()">{{"filterWhoBE" | translate}}</button>
<button (click)="filtreeriKolmasTahtS()">{{"filterThirdLetterS" | translate}}</button>
<br>
<br>
<label>{{"Search" | translate}}</label>
<input [(ngModel)]="otsing" (ngModelChange)="otsi()" type="text">
<!-- <button (click)="otsi()">Otsi</button> -->
<br>
@for (toode of tooted; track toode) {
    <br>
    <img class="product-image" src={{toode.pilt}} alt="">
    <!-- <img [src]="toode.pilt" alt=""> -->

    <div>{{toode.nimi}}</div>
    <div>{{toode.hind}} $</div>
    <button [disabled]="toode.aktiivne === false" (click)="lisaOstuKorvi(toode)">{{"add-to-cart" | translate}}</button>
    <button routerLink="{{'/toode/' + toode.nimi}}">vaata lahemalt</button>
    <!-- <button [routerLink]="['/toode/', toode.nimi]">vaata lahemalt</button> -->
    <br>
}
