<div>{{tooted.length}} tk</div>

<button (click)="SorteeriAZ()">{{"sort-az" | translate}}</button>
<button (click)="SorteeriZA()">{{"sort-za" | translate}}</button>
<button (click)="SorteeriTahedKasv()">Sorteeri tahemargid kasvavalt</button>
<button (click)="SorteeriTahedKah()">Sorteeri tahemargid kahanevalt</button>
<button (click)="SorteeriKolmasTahtAZ()">Sorteeri kolmas taht A-Z</button>

<br><br>

<button (click)="filtreeriKesLoppevadTahegaA()">jata alles 'a' tahega loppevad</button>
<button (click)="filtreeriTapselt5Tahelised()">jata alles tapselt 5 tahelised</button>
<button (click)="filtreeriKuniVoiTapselt6Tahelised()">jata alles vaiksem voi vordsed kui 6 tahelised</button>
<button (click)="filtreeriKesKellelLuhendBE()">jata alles Kellel sonaluhend 'be' sees</button>
<button (click)="filtreeriKolmasTahtS()">jata alles kellel kolmas taht 's'</button>
<br>
<br>
<label>Otsi</label>
<input [(ngModel)]="otsing" (ngModelChange)="otsi()" type="text">
<!-- <button (click)="otsi()">Otsi</button> -->
<br>
@for (toode of tooted; track toode) {
    <br>
    <img class="product-image" src={{toode.pilt}} alt="">
    <!-- <img [src]="toode.pilt" alt=""> -->

    <div>{{toode.nimi}}</div>
    <div>{{toode.hind}} $</div>
    <button [disabled]="toode.aktiivne === false" (click)="lisaOstuKorvi(toode)">{{"add-to-cart" | translate}}</button>
    <br>
}
