
@if (products.length > 0) {
   <button (click)="tuhjenda()">{{"Empty" | translate}}</button>
    <div>Ostukorvis on {{products.length}} toodet</div> 
}@else { 
    <div>{{"Cart-Empty" | translate}}</div>
}


@for (product of products; track product) {
    <div>{{product.toode.nimi}} - {{product.toode.hind}}</div>
    <button (click)="decreaseKogus(product)">-</button>
    <div>{{product.kogus}} tk</div>
    <button (click)="increaseKogus(product)">+</button>
    <div>{{product.toode.hind * product.kogus}} $</div>
    <button (click)="kustuta($index)">X</button>
}

@if (products.length > 0) {
    <div>{{"Price" | translate}}: {{arvutaKokku()}} $</div>
}