
@if (products.length > 0) {
   <button (click)="tuhjenda()">Tühjenda</button>
    <div>Ostukorvis on {{products.length}} toodet</div> 
}@else {
    <div>Ostukorv on tühi</div>
}


@for (product of products; track product) {
    <div>{{product.toode.nimi}} - {{product.toode.hind}}</div>
    <button (click)="decreaseKogus(product)">-</button>
    <div>{{product.kogus}} tk</div>
    <button (click)="increaseKogus(product)">+</button>
    <div>{{product.toode.hind * product.kogus}} $</div>
    <button (click)="kustuta($index)">X</button>
}

@if (products.length > 0) {
    <div>Kokku: {{arvutaKokku()}} $</div>
}